<div = class="tweet">

	<h3><%= link_to(tweet.title, tweet) %> </h3>
	<% if tweet.user %>
	<p>By: <%= tweet.user.email %></p>
	<% end %>
	<!-- OR <p> <%= tweet.user.try(:email) || 'Anonymous User' %> </p> -->



	<p> <%= tweet.body %> </p>

	<ul>
		<li><%= edit_tweet_link(tweet) %></li>
		<li><%= delete_tweet_link(tweet) %></li>
	</ul>

</div>