<!DOCTYPE html>
<html>
<head>
  <title>Fake Twitter</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
	<h1>Fake Twitter</h1>
		<ul>
			<li><%= link_to('All Tweets', root_path)%></li>
			<li><%= link_to('New Tweet', new_tweet_path)%></li>
		</ul>
		<% if flash.notice %>
			<div class = 'notice'> <%= flash.notice %> </div>
		<% end %>
	<body>
		<%= yield %>
	</body>
</html>
